Source: firefox-installer
Section: utils
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/firefox-installer
Vcs-Git: https://github.com/HuayraLinux/firefox-installer.git
Vcs-Browser: https://github.com/HuayraLinux/firefox-installer

Package: firefox-installer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 coreutils (>= 8.23), wget (>= 1.16), sed (>= 4.2)
Description: Pequeño script para instalar la última versión de Firefox
 Este script instala la versión más reciente de Mozilla Firefox
 . 
 Mozilla Firefox (llamado simplemente Firefox) es un navegador web libre y de 
 código abierto desarrollado para Microsoft Windows, Android, OS X y GNU/Linux 
 coordinado por la Corporación Mozilla y la Fundación Mozilla. Usa el motor 
 Gecko para renderizar páginas webs, el cual implementa actuales y futuros 
 estándares web.

