[Desktop Entry]
Name=Mozilla Firefox
Comment=Navagador Web Mozilla Firefox
Exec=/opt/firefox/firefox %u
Icon=firefox
Categories=WebBrowser;Network
Version=1.0
Type=Application
Terminal=0
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
Keywords=browser;internet;www;web;
